<ion-view view-title="" style="background-color: #D1D3D4">
<ion-nav-bar class="bar-energized">
    <ion-nav-buttons side="left">
     <!-- Toggle left side menu -->
     <button menu-toggle="left" class="button icon-left ion-navicon-round button-clear button-dark"></button>
    </ion-nav-buttons>
  </ion-nav-bar>  
  <ion-content>
	
	<div class="row" style="background-color: #E8E9E9; border: think solid black">
	  <div class="col"><a menu-close href="#/app/posiciones" style="text-decoration: none;"><div align="center" style="font-weight: bold; font-size: 10px">TABLA</div></a></div>
	  <div class="col"><a menu-close href="#/app/partidos" style="text-decoration: none;"><div align="center" style="font-weight: bold; font-size: 10px">PARTIDOS</div></a></div>
	  <div class="col"><a menu-close href="#/app/resultados" style="text-decoration: none;"><div align="center" style="font-weight: bold; font-size: 10px">RESULTADO</div></a></div>
	  <div class="col"><a menu-close href="#/app/calendario" style="text-decoration: none;"><div align="center" style="font-weight: bold; font-size: 10px">CALENDARIO</div></a></div>
	  <div class="col"><a menu-close href="#/app/goleadores" style="text-decoration: none;"><div align="center" style="font-weight: bold; font-size: 10px">GOLEADORES</div></a></div>
	</div>

	<div class="row" style="background-color: #fff">
	<h4 class="title" style="color: #000">Calendario de Barcelona</h4>
	</div>

	<div id="" ng-repeat="calendario in data_calendario">
	<div class="row row-center" style="background-color: #E8E9E9; border: think solid black">
	  <div class="col"><div align="center" style="font-weight: bold">{{calendario.jornada}} | {{calendario.fecha}}</div></div>
	</div>
	<div class="row row-center" style="background-color: #E8E9E9; border: think solid black">
	  <div style="font-size:12px;font-weight: bold" class="col">{{calendario.equipo_local}}</div>
	  <div class="col"><div align="center"><img ng-src="{{calendario.img_local}}" style="width: 40px; height: 40px"></div></div>
	  <div class="col col-10"><div align="center" style="background-color: #D1D3D4; font-weight: bold">{{calendario.goles_local}}</div></div>
	  <div class="col col-10"><div align="center" style="background-color: #D1D3D4; font-weight: bold">{{calendario.goles_vicitante}}</div></div>
	  <div class="col"><div align="center"><img ng-src="{{calendario.img_vicitante}}" style="width: 40px; height: 40px"></div></div>
	  <div style="font-size:12px;font-weight: bold" class="col">{{calendario.equipo_vicitante}}</div>
	</div>
	<div class="row" style="background-color: #D1D3D4"></div>
	</div>
  </ion-content>
</ion-view>
