<ion-view view-title="">
<ion-nav-bar class="bar-energized">
    <ion-nav-buttons side="left">
	   <!-- Toggle left side menu -->
	   <button menu-toggle="left" class="button icon-left ion-navicon-round button-clear button-dark"></button>
	  </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="true" overflow-scroll="true" style="width: 100%;height: 100%">
 
      <iframe style="width: 100%;height: 100%" src="http://planetamarillo.com/tvonline/" frameborder="0" ></iframe>
	
  </ion-content>
</ion-view>
