<ion-view view-title="">
<ion-nav-bar class="bar-energized">
      <ion-nav-back-button class="button icon-left ion-chevron-left button-clear button-dark">
	     Atras
	  </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
  <button onclick="window.plugins.socialsharing.shareViaTwitter('Message and link via Twitter', null /* img */, 'http://www.x-services.nl')">Twitter</button>
  <button onclick="window.plugins.socialsharing.shareViaFacebook('Message via Facebook', null /* img */, null /* url */, function() {console.log('share ok')}, function(errormsg){alert(errormsg)})">Facebook</button>
	<img class="media-content" src="{{img}}" style="width: 100%">
	<div class="content-padded" style="margin: 5px">
	  <div align="justify" style="font-size:16px;font-weight: bold" ng-bind-html="titulo"></div>
	  </br>
	  <p>{{fecha}}</p>
	  </br>
	  <div align="justify" style="padding: 5px" ng-bind-html="contenido"></div>
	</div>
  </ion-content>
</ion-view>
