<ion-view view-title="">
<ion-nav-bar class="bar-energized">
      <ion-nav-back-button class="button icon-left ion-chevron-left button-clear button-dark">
	     Atras
	  </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
	<img class="media-content" src="{{img}}" style="width: 100%">
	<div class="content-padded" style="margin: 5px">
	  <div align="justify" style="font-size:16px;font-weight: bold" ng-bind-html="titulo"></div>
	  </br>
	  <p>{{fecha}}</p>
	  </br>
	  <div align="justify" style="padding: 5px" ng-bind-html="contenido"></div>
	</div>

	<div class="row row-center">
	  <div class="col col-33" align="right">Vistas <label>10</label></div>
	  <div class="col col-33" align="right">Comentarios <label>1</label></div>
	  <div class="col col-33" align="right"><a class="tab-item" ng-click="shareNative()"><i class="icon ion-share"></i>
</a></div>
	</div>

	<div class="list list-inset">
	  <p>1 Comentario</p>	
	  <label class="item item-input">
	    <input type="text" placeholder="Agregar un Comentario">
	  </label>
	</div>

	<div class="row">
		<div class="col col-20"><img src="img/facebook.png" style="width: 40px; height: 40px"></div>
		<div class="col"><div><p>Leo Mora</p></div><p>
	      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
	      the content is from a card-body consisting of an image and paragraph text. The footer
	      consists of tabs, icons aligned left, within the card-footer.
	    </p></div>
	</div>
  </ion-content>
</ion-view>
