  <ion-side-menus>
  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-dark"><img src="img/logo.png" style="width: 47px; height: 37px; margin-left: 40%; margin-right: 47px;"></header>
    <ion-content class="has-header my-menu">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/noticias">NOTICIAS</ion-item>
        <ion-item nav-clear menu-close href="#/app/barcelona">BARCELONA</ion-item>
        <ion-item nav-clear menu-close href="#/app/canaltv">PLANETA TV</ion-item>
        <ion-item nav-clear menu-close href="#/app/planetascore">PLANETA SCORE</ion-item>
        <ion-item nav-clear menu-close href="#/app/formativas">FORMATIVAS</ion-item>
        <ion-item nav-clear menu-close href="#/app/fecuador">F. ECUATORIANO</ion-item>
        <ion-item nav-clear menu-close href="#/app/internacionales">F. INTERNACIONAL</ion-item>
        <ion-item nav-clear menu-close href="#/app/embajadores">EMBAJADORES ECUATORIANOS</ion-item>
        <ion-item nav-clear menu-close href="#/app/chicas">CHICAS CALIENTES</ion-item>
        <ion-item nav-clear menu-close href="#/app/posiciones">TABLA DE POSICIONES</ion-item>
        <ion-item nav-clear menu-close href="#/app/partidos">PARTIDOS EN VIVO</ion-item>
        <ion-item nav-clear menu-close href="#/app/resultados">RESULTADOS</ion-item>
        <ion-item nav-clear menu-close href="#/app/calendario">CALENDARIO</ion-item>
        <ion-item nav-clear menu-close href="#/app/goleadores">GOLEADORES</ion-item>
        <ion-item nav-clear menu-close href="#/app/opinion">OPINION/CONTACTO</ion-item>
        <ion-item nav-clear menu-close href="#/app/registro">REGISTRÁTE</ion-item>
        <ion-item nav-clear menu-close href="#/app/invitaramigos" ng-controller="menuCtrl" ng-click="testShareSheet()">INVITA A TUS AMIGOS</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
