<ion-view view-title="">
<ion-nav-bar class="bar bar-header bar-energized">
<ion-nav-buttons>
      <button class="button icon-left ion-chevron-left button-clear button-dark" ng-click="volverAtras()">
        Atras
      </button>
      <h1 class="title"></h1>
      <button class="button ion-android-share-alt button-clear button-dark" ng-click="testShareSheet()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
	<img class="media-content" src="{{img}}" style="width: 100%">
	<div class="content-padded" style="margin: 5px">
	<div align="justify" style="font-size:16px;font-weight: bold" ng-bind-html="titulo"></div>
	  </br>
	  <p>{{fecha}}</p>
	  </br>
	  <div align="justify" style="padding: 5px" ng-bind-html="contenido"></div>
	</div>

	<div class="row row-center">
	  <div class="col" align="right">Vistas <label>10</label></div>
	  <div class="col" align="right">Comentarios <label>1</label></div>
	  <div class="col col-10" align="right"></div>
	</div>

	<div class="list list-inset">
	  <p>1 Comentario</p>	
	  <label class="item item-input">
	    <input type="text" placeholder="Agregar un Comentario">
	  </label>
	</div>

	<div class="row">
		<div class="col col-20"><img src="img/facebook.png" style="width: 40px; height: 40px; margin-left: 15px"></div>
		<div class="col">Leo Mora>
	      Aqui va el comentario,Aqui va el comentario,Aqui va el comentario,Aqui va el comentario,Aqui va el comentario,
	      Aqui va el comentario,Aqui va el comentario,Aqui va el comentario,Aqui va el comentario,Aqui va el comentario,
	      Aqui va el comentario,Aqui va el comentario,Aqui va el comentario,Aqui va el comentario,Aqui va el comentario
	</div>
	</div>
  </ion-content>
</ion-view>