<ion-view view-title="" style="background-color: #fff;">
<ion-nav-bar class="bar-energized">
    <ion-nav-buttons side="left">
     <!-- Toggle left side menu -->
     <button menu-toggle="left" class="button icon-left ion-navicon-round button-clear button-dark"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
   <div class="list">
  <label class="item item-input">
    <span class="input-label">Para:</span>
    <input type="text" placeholder="Para:" value="info@planetamarillo.com">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Asunto:">
  </label>
  <label class="item item-input">
    <textarea placeholder="Opinion:" rows="30"></textarea>
  </label>
</div>
  </ion-content>
</ion-view>
