<ion-view view-title="">
<ion-nav-bar class="bar-energized">
    <ion-nav-buttons side="left">
	   <!-- Toggle left side menu -->
	   <button menu-toggle="left" class="button icon-left ion-navicon-round button-clear button-dark"></button>
	  </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
  <div class="embed-container">
	    <iframe width="560" height="315" src="http://planetamarillo.com/calificar-jugadores-aplicacion/" frameborder="0" allowfullscreen></iframe>
	</div>
  </ion-content>
</ion-view>
