<ion-view view-title="" style="background-color: #D1D3D4">
<ion-nav-bar class="bar-energized">
    <ion-nav-buttons side="left">
     <!-- Toggle left side menu -->
     <button menu-toggle="left" class="button icon-left ion-navicon-round button-clear button-dark"></button>
    </ion-nav-buttons>
  </ion-nav-bar>  
  <ion-content>

  	<div class="row" style="background-color: #E8E9E9; border: think solid black">
	  <div class="col"><a menu-close href="#/app/posiciones" style="text-decoration: none;"><div align="center" style="font-weight: bold; font-size: 10px">TABLA</div></a></div>
	  <div class="col"><a menu-close href="#/app/partidos" style="text-decoration: none;"><div align="center" style="font-weight: bold; font-size: 10px">PARTIDOS</div></a></div>
	  <div class="col"><a menu-close href="#/app/resultados" style="text-decoration: none;"><div align="center" style="font-weight: bold; font-size: 10px">RESULTADO</div></a></div>
	  <div class="col"><a menu-close href="#/app/calendario" style="text-decoration: none;"><div align="center" style="font-weight: bold; font-size: 10px">CALENDARIO</div></a></div>
	  <div class="col"><a menu-close href="#/app/goleadores" style="text-decoration: none;"><div align="center" style="font-weight: bold; font-size: 10px">GOLEADORES</div></a></div>
	</div>
	
	<div class="row" style="background-color: #D1D3D4">
		<div class="col col-50"><h4 class="title" style="color: #000">Tabla de Posiciones</h4></div>
	</div>
	<div class="row" style="background-color: #D1D3D4">		
		<div class="col col-33 col-offset-67"><h5 class="title" style="color: #000">{{etapa}} | {{fecha}}</h5></div>
	</div>

	<div class="row" style="background-color: #D1D3D4">
	  <div class="col"></div>
	  <div class="col col-33">EQUIPO</div>
	  <div class="col">PJ</div>
	  <div class="col">PTS</div>
	  <div class="col">GD</div>
	  <div class="col"></div>
	</div>

	<div id="" ng-repeat="posicion in data_posicion">
	<div class="row" style="background-color: #E8E9E9; border: think solid black">
	  <div class="col">{{posicion.id}}</div>
	  <div class="col col-33">{{posicion.equipo}}</div>
	  <div class="col">{{posicion.Pj}}</div>
	  <div class="col">{{posicion.Pts}}</div>
	  <div class="col">{{posicion.Gd}}</div>
	  <div class="col">1<img ng-src="{{posicion.img}}" style="width: 20px; height: 20px"></div>
	</div>
	<div class="row" style="background-color: #D1D3D4"></div>
	</div>
  </ion-content>
</ion-view>
